 @import "../../mixins.scss";

 @include respond(laptop){
    .blog-form{
        display: flex;
        flex-direction: column;
        padding: 6%;
        background-color: #eee;
        justify-content: center;
        text-align: center;
    }
    #input-form{
        height: 50px;
        border-radius:20px;
        margin-bottom:10px;
        width:50%;
        border:1px dotted #ee1415;
        align-self: center;
        transition: all .1s;
    }
    #input-form-lg{ 
        height: 100px;
        border-radius:20px;
        margin-bottom:10px;
        width:50%;
        border:1px dotted #ee1415;
        align-self: center;
        transition: all .1s;
    }
    #input-form :focus{
        border:2px solid #ee1415;
    }
    #form-button{
        width: 10%;
        align-self: center;
        margin-top:50px;
        color:#fff;
        margin-right: 20px;

    }
    ::placeholder{
        opacity: 0.6;
        margin-left:50px;
        font-size:13px;
        color:#ee1415; 
        // text-align:left;
    }

 }
 @include respond(desktop){
    .blog-form{
        display: flex;
        flex-direction: column;
        padding: 6%;
        background-color: #eee;
        justify-content: center;
        text-align: center;
    }
    #input-form{
        height: 50px;
        border-radius:20px;
        margin-bottom:10px;
        width:50%;
        border:1px dotted #ee1415;
        align-self: center;
        transition: all .1s;
    }
    #input-form-lg{ 
        height: 100px;
        border-radius:20px;
        margin-bottom:10px;
        width:50%;
        border:1px dotted #ee1415;
        align-self: center;
        transition: all .1s;
    }
    #input-form :focus{
        border:2px solid #ee1415;
    }
    #form-button{
        width: 10%;
        align-self: center;
        margin-top:50px;
        color:#fff;
        margin-right: 20px;

    }
    ::placeholder{
        opacity: 0.6;
        margin-left:50px;
        font-size:13px;
        color:#ee1415; 
        // text-align:left;
    }

 }